{{ $max := .Site.Params.numberOfRelatedPosts | default 3 }}
{{ $pages := where .Site.RegularPages "Lang" .Lang }}
{{ $related := $pages.Related . }}

{{ if $related }}
  <h3 class="related-title">{{ i18n "related_posts" }}</h3>
  
  <div class="post-grid">
    {{ $count := 0 }}
    {{ range $related }}
      {{ if and (in .RelPermalink "/farsi/") (lt $count $max) }}
        
        <div class="post-card">
            {{ if .Params.featured_image }}
            <a href="{{ .RelPermalink }}">
                <img class="post-card__banner" src="{{ .Params.featured_image | relURL }}" alt="Banner image" loading="lazy" />
            </a>
            {{ else if .Params.thumbnail }}
            <a href="{{ .RelPermalink }}">
                <img class="post-card__banner" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
            </a>
            {{ end }}

            <div class="post-card__content">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            </div>

            <div class="post-card__footer">
                {{ if eq .Site.Language.Lang "fa" }}
                <span class="post-card__date">{{ partial "jDate.html" .Params.Date }}</span>
                {{ else }}
                <span class="post-card__date">{{ .Date.Format "Jan 2, 2006" }}</span>
                {{ end }}

                {{ with .Params.author }}
                <span class="post-author"> | {{ i18n "callAuthor" }} {{ . }}</span>
                {{ end }}
            </div>
        </div>

        {{ $count = add $count 1 }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}