{{ $max := .Site.Params.numberOfRelatedPosts | default 3 }}
{{ $pages := where .Site.RegularPages "Lang" .Lang }}
{{ $related := $pages.Related . }}
{{ $self := . }}

{{ if $related }}
  <h3 class="related-title">{{ i18n "related_posts" }}</h3>
  
  <ul class="related-posts-list">
    {{ $count := 0 }}
    {{ range $related }}
      
      {{/* Define our conditions */}}
      {{ $isFarsi := in .RelPermalink "/farsi/" }}
      {{ $isBook := in .RelPermalink "/books/" }}
      {{ $isArticle := in .RelPermalink "/articles/" }}

      {{/* Logic: Must be Farsi AND (Must be Book OR Article) */}}
      {{ if and $isFarsi (or $isBook $isArticle) (lt $count $max) (ne .Permalink $self.Permalink) }}
        
        <li class="related-post-item">
            <a href="{{ .RelPermalink }}" class="related-post-link">
                {{ .Title }}
            </a>
            <span class="related-post-date">
                {{ if eq .Site.Language.Lang "fa" }}
                    {{ partial "jDate.html" .Params.Date }}
                {{ else }}
                    {{ .Date.Format "Jan 2, 2006" }}
                {{ end }}
            </span>
        </li>

        {{ $count = add $count 1 }}
      {{ end }}
    {{ end }}
  </ul>
{{ end }}